{% extends 'base.html.twig' %}

{% block title %}Nosotros - Mi Empresa{% endblock %}

{% block content_about %}
    <h1>Sobre Nosotros</h1>
    <p>Somos una empresa comprometida con la tecnología.</p>
{% endblock %}
