{% extends 'base.html.twig' %}

{% block title %}Servicios - Mi Empresa{% endblock %}

{% block content_services %}
    <h1>Nuestros Servicios</h1>
    <p>Ofrecemos desarrollo de software de alta calidad.</p>
{% endblock %}